<div class="container">
  <div class="row">
    <h1>Lookup Taxes by Zip Code</h1>
    <%= form_tag home_lookup_path do %>
      <div class="form-group">

        <%= text_field_tag :zip_code, @location ? @location.zip : (params[:zip_code].present? ? params[:zip_code] : nil), placeholder: "Zip Code", autofocus: true %>
        <%= select_tag :country, "<option value='US'>United States</option><option value='CA' #{params[:country] == "CA" ? 'selected' : ''}>Canada</option>".html_safe %>
        <%= submit_tag "Lookup Zip", class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
  <div class="row">
  <% if @error %>
    <div class="panel panel-danger tax-rate-errors">
      <div class="panel-body">
        <h3 class="panel-title"><%= @error %></h3>
      </div>
    </div>
  <% end %>
  <% if @location %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tax Info</h3>
      </div>
        <ul class="list-group">
          <li class="list-group-item" >
            <span class="tax-rate-title">Zip</span><%= @location.zip %>
          </li>
          <li class="list-group-item" >
            <span class="tax-rate-title">City</span><%= @location.city %>
          </li>
          <li class="list-group-item" >
            <span class="tax-rate-title">County</span><%= @location.county %>
          </li>
          <li class="list-group-item" >
            <span class="tax-rate-title">State</span><%= @location.state %>
          </li>
          <li class="list-group-item" >
            <span class="tax-rate-title">City Rate</span><%= @location.city_rate %>%
          </li>
          <li class="list-group-item" >
            <span class="tax-rate-title">County Rate</span><%= @location.county_rate %>%
          </li>
          <li class="list-group-item" >
            <span class="tax-rate-title">State Rate</span><%= @location.state_rate %>%
          </li>
          <li class="list-group-item" >
            <span class="tax-rate-title">Combined District Rate</span><%= @location.combined_district_rate %>%
          </li>
          <li class="list-group-item total">
            <span class="tax-rate-title">
              Combined Rate
            </span>
            <%= @location.combined_rate %>%
          </li>

        </ul>
    </div>
  <% end %>
  </div>
</div>

